* {
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  font-family: "Inter", sans-serif;
  display: grid;
  place-content: center;
  margin: 0;
  min-height: 100vh;
}

.card {
  max-width: 317px;
  margin: 40px 0;
}

.card-figure {
  margin: 0;
}

.card-head,
.card-buttons,
.card-body {
  background-color: #1a1b21;
  color: #ffffff;
}

.card-head {
  padding: 21px 35px 15px;
  text-align: center;
}

.card-head > h1 {
  font-size: 27px;
  margin: 0;
}

.card-head > p {
  color: #f3bf99;
  font-size: 14px;
  margin: 5px 0 8px;
}

.card-head > span {
  font-size: 12px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 35px 0;
}

.card-buttons .btn {
  background-color: gray;
  border-radius: 6px;
  color: #ffffff;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 23px;
  text-decoration: none;
}

.card-buttons .btn > img {
  margin-right: 8px;
}

.card-buttons .btn--white {
  background-color: #ffffff;
  color: #374151;
}

.card-buttons .btn--primary {
  background-color: #5093e2;
}

.card-body {
  padding: 30px 35px 25px;
}

.card-body__item {
  margin-bottom: 25px;
}

.card-body__item > h4 {
  font-size: 18px;
  margin: 0;
}

.card-body__item > p {
  color: #dcdcdc;
  font-size: 12px;
}

.card-social {
  background-color: #161619;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 35px;
}

.card-social > li {
  margin: 0 13px;
}

.card-social a {
  text-decoration: none;
}
